@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body {
    background-color: #d5d5ee;
    color: rgb(22, 27, 34);
    margin: 0;
    font-family: 'Anek Malayalam', sans-serif;
}

#topo {
    background-color: rgb(22, 27, 34);
    color: white;
    margin: 0;
    padding: 1em 1em 1em 3em;
    height: 108px;
}

.titulo1 {
    font-size: 2em;
    height: 85px;
}

.titulo2 {
    font-size: 1em;
    margin-left: 4px;
    margin-top: -2%;
}

img {
    width: 110px;
    height: 110px;
    margin-top: 0%;
}

#spec {
    margin-left: 85px;
    margin-top: -5.7%;
    font-family: Fira Sans;
}

#barra {
    background-color: white;
    height: 5px;
}

#conteudo {
    margin:2em 3em 1em 3em
}

h3 {
    font-size: 20pt;
    margin-top: 1.5em;
    color: rgb(22, 27, 34);
}

p {
    font-size: 18pt;
    line-height: 1.4em;
    text-align: justify;
}

input {
    height: 20px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    font-size: 13pt;
    color: rgb(22, 27, 34);

}

label {
    font-size: 13pt;
}

.material-icons {
    color: rgb(22, 27, 34);
    margin-left: 1%;
}